{% extends 'base.html' %}


   {% block content %}


    <div>
       <h3>Lands</h3>
                <table class="table" id="detail-table">
            <tr>
                <th>Is My land</th>
                <th>Owner Name</th>
                <th>City</th>
                <th>Area</th>
                <th>Land Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Current Iter.</th>
                <th></th>
            </tr>
           {% for bid_land in bid_land_obj %}
           <tr
           {% if bid_land.locked %}
           class="table-danger"
           {% else %}
           class="table-success"
           {% endif %}
           >
           <td>{% if request.user.account_address == bid_land.owner %}
               Yes
               {% else %}
               No
               {% endif %}
           </td>
            <td>{{bid_land.land.name}} </td>
            <td>{{bid_land.land.city}} </td>
            <td>{{bid_land.land.area}} </td>
            <td>{{bid_land.land.land_address}} </td>
            <td>{{bid_land.land.latitude}} </td>
            <td>{{bid_land.land.longitude}} </td>
            <td>{{bid_land.itter}} </td>
            <td>
            {% if bid_land.locked == False %}
            <a href="/bid/{{bid_land.land.land_id}}" class="btn btn-primary">Change Bid</a>
            {% else %}
             <a href="/graph/{{bid_land.id}}" class="btn btn-primary">Graph</a>
            {% endif %}
            </td>
            </tr>
           {% endfor %}
        </table>
        <h3>Bids</h3>
        <table class="table" id="detail-table">
           <tr>
                <th>Is My land</th>
                <th>Land</th>
                <th>Bid Amound</th>
                <th>Days to pay money</th>
                <th>Token Money</th>
                <th>Iter</th>
                <th>Status</th>
                <th></th>
            </tr>
           {% for bid_obj in bid_objects%}
           <tr
           {% if bid_obj.locked %}
           class="table-danger"
           {% else %}
           class="table-success"
           {% endif %}
           >
            <td>
            {% if bid_obj.buyer %}
                No
            {% else %}
                Yes
            {% endif %}
            </td>
            <td>{{bid_obj.bid_land.land.land_address}} </td>
            <td>{{bid_obj.value}} </td>
            <td>{{bid_obj.days}} </td>
            <td>{{bid_obj.token_money}} </td>
            <td>{{bid_obj.itter}} </td>
            <td>{% if bid_obj.locked %}
                Locked
                {% else %}
                Active
            {% endif %}
            </td>
            <td>
            {% if bid_obj.locked == False %}
            <a href="/bid/{{bid_obj.bid_land.land.land_id}}" class="btn btn-primary">Change Bid</a>
            {% endif %}
            </td>
            </tr>
           {% endfor %}
        </table>

    </div>

{% endblock %}

