{% extends 'base.html' %}


   {% block content %}

    <div class="container">

        <h1>All Bids with itteration Master</h1>

    </div>

    <div>
        <table class="table" id="detail-table">
          <tr>
                <th>Name</th>
                <th>City</th>
                <th>Area</th>
                <th>Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Iteration</th>

                <th></th>
            </tr>

           {% for bid_land in bid_lands %}
              <tr>
                 <td>{{bid_land.land.name}}</td>
                 <td>{{bid_land.land.city}}</td>
                 <td>{{bid_land.land.area}}</td>
                 <td>{{bid_land.land.land_address}}</td>
                 <td>{{bid_land.land.latitude}}</td>
                 <td>{{bid_land.land.longitude}}</td>
                 <td>{{bid_land.itter}}</td>
               <td><a href="/increase-iter/{{bid_land.id}}" class="btn btn-primary">Increase Iteration</a></td>
               <td><a href="/auto-bid/{{bid_land.id}}" class="btn btn-primary">Auto Iterate</a></td>
              </tr>
           {% endfor %}
        </table>
    </div>

{% endblock %}
