{% extends 'base.html' %}

   {% block content %}

    <div class="container">

        <h3 id="">Bid Land</h3>
           <p>
          {% if bid_land_obj.owner == bidder_address %}
            You are owner of this land.
            <br>
            {% else %}

            Owner Price: {{bid_land_obj.price}}
            <br>
            Token Money: {{bid_land_obj.token_money}}
               <br>
            Days to pay money: {{bid_land_obj.days}}
            <br>
            <br>
            {% endif %}
            Itteration: {{bid_land_obj.itter}}
        </p>

        {% if bid_land_obj.itter > 1 %}
           {% if bid_land_obj.owner != bidder_address %}
            Suggestion: {{suggestion}}
            {% endif %}
            <br>
            <br>
            <h5><strong>Previous bid:</strong></h5>
            Value: {{previous_bid.value}}
            <br> Days: {{previous_bid.days}}
            <br> Token Money: {{previous_bid.token_money}}
        {% endif %}
        <br>
        <br>
        <form action="/bid/save/" method="post">
            {% csrf_token %}
        <label for="address">Address</label>
        <input type="text" name = "address" id="address" readonly value = {{bidder_address}}>
        <label for="itter">Itteration</label>
        <input type="text" name = "itter" id="itter" readonly value = {{bid_land_obj.itter}}>
<label for="=id">Bid Land Id</label>
        <input type="text" name = "id" id="id" readonly value = {{bid_land_obj.id}}>

        <label for="value">Value</label>
        <input type="number" id="value" name = "value">
        <label for="token_money">Token Money</label>
        <input type="number" id="token_money" name = "token_money">
        <label for="days">Days</label>
        <input type="number" id="days" name = "days">
        <input type="number" name = "owner_days" value="{{bid_land_obj.days}}" hidden>
        <input type="number" name = "previous_value" value="{{previous_bid.value}}" hidden>

        <button class="btn btn-success" type="submit" id="register_button">Bid</button>
        </form>

        <br>
        <br>

        <div id="result"></div>

    </div>


{% endblock %}
