{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home | SellMyLand</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css'%}">
    
</head>

<body class="home" data-gr-c-s-loaded="true">
<!--    <div class="hero">-->
<!--        <div class="loader"><img class="spinner visible" src="images/spinner.gif" alt="Loading..." width="64" height="64"></div>-->
<!--
        <div class="container" style="cursor: default; opacity: 0;">
            <div class="scroll"><span>Scroll down</span> <img src="images/scroll.svg"></div><canvas width="1350" height="383" style="width: 1350px; height: 383px;"></canvas>
        </div>
-->
        <div class="welcome" style="opacity: 1; transform: scale(1, 1);">
            <h1>Welcome to SellMyLand</h1>
            <p class="large">The platform to easily manage your land. Explore and earn money from your land.</p>
            <a class="button large" href="/user-land-details/" target="_blank">Start Exploring</a>

        </div>
<!--    </div>-->
    <main>
        <section class="introduction">
            <div>               
                <div class="image"><img src="{% static 'images/img1.jpg'%}"></div>
                <div class="content">
                    <h2>Get the best deals</h2>
                    <p>Join a public platform controlled by its community and take a stake in the world.</p>
                </div>
            </div>
            <div>
                <div class="image"><img src="{% static 'images/img2.jpg'%}"></div>
                <div class="content">
                    <h2>Our supporting team</h2>
                    <p>Drive your vision with the tools, tutorials, and support that our community provides.</p>
                </div>
            </div>
            <div>
                <div class="image">
                <img src="{% static 'images/img3.jpg'%}">
                </div>
                <div class="content">
                    <h2>Where one can earn reward</h2>
                    <p>SellMyLand’s world is built around MANA, a blockchain-based token used for trading goods and services provided by users.</p>
                </div>
            </div>
        </section>
        <section class="builder">
            <div>
                <div class="wrapper">
                    <h2>Meet the Land Owners</h2>
                    <div>
                        <p class="large">The Builder is SellMyLand's easy-to-use platform. Use it to create your own slice of the property in the world.</p>
                    </div>
                </div>
            </div>
        </section>


        <section class="steps">
            <div class="content">
                <div class="title mobile"><em>SellMyLand</em>
                    <h2>Step by step</h2>
                </div>
                <div class="image">
                <img class="desktop" src="{% static 'images/img6.jpg'%}"></div>
                <div class="items">
                    <div class="title desktop"><em>SellMyLand</em>
                        <h2>Step by step</h2>
                    </div>
                    <div class="item open">
                        <h3><span>What is it?</span></h3>
                        <div class="text" style="height: 206px;">
                            <div>
                                <p>SellMyLand is a Lorem ipsum rerum deserunt pariatur numquam debitis et qui illo doloremque dolorem eaque quos ipsam deleniti.</p>
                                <p>The SellMyLand experiences are currently being built by thousands of LAND owners. Once they are ready, you will be able to explore the world on your computer or phone</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3><span>Own a piece of the land</span></h3>
                        <div class="text">
                            <div>
                                <p>SellMyLand is divided into a limited number of parcels, known as LAND.</p>
                                <p>LAND is the canvas on which you create your experiences. As an owner, you have full creative freedom and any income generated by anything you make goes straight into your pocket.</p>
                                <p>Like in the non-virtual world, users are able to traverse SellMyLand, discovering experiences as they roam. As a result, your LAND's location can influence the types of visitors that you will attract.</p>
                                <p>You can navigate SellMyLand’s geography and themed districts using the ATLAS tool and find the best location to develop.</p>
                                <p><a class="button" target="_blank" href="#">Explore with the Atlas</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3><span>Bringing blockchain assets to life</span></h3>
                        <div class="text">
                            <div>
                                <p>Blockchains allow us to create records of information without having to trust a central, third-party to maintain those records.</p>
                                <p>Cryptocurrencies are made possible by blockchains, but we can also use blockchains to store more complex information, such as unique game assets.</p>
                                <p>The SellMyLand Marketplace is a fully decentralized and open market where you can discover, buy, sell, and manage your parcels of LAND.</p>
                                <p><a class="button" target="_blank" href="https://market.SellMyLand.org">Get LAND</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="marketplace">
            <div>
                <div class="wrapper">
                    <h2>SellMyLand Marketplace</h2>
                    <div>
                        <p class="large">The SellMyLand Marketplace is a fully decentralized and open market where you can discover, buy, sell, and manage your parcels of LAND.</p><a class="button large" href="#" target="_blank">Get your LAND</a>
                    </div>
                </div>
            </div>
        </section>
          <br>
          <br>
           <section class="about">
            <div>
                <div>
                    <h2>About us</h2>
                    <p>We are developers, gamers, artists, hackers, entrepreneurs, and enthusiasts laying the foundation of the platform.</p><a class="button" href="#">Reach out to us</a>
                </div>
                <div>
                    <h2>Sign up for updates</h2>
                    <p>Are you interested in immersive virtual experiences, game design, and blockchain technology? Subscribe to our newsletter and get the latest and greatest from SellMyLand in your Inbox.</p>
                    <div class="newsletter">
                        <form action=""><input placeholder="Email address" type="email">
                            <div><button class="send" type="submit" disabled="disabled">Send</button></div>
                        </form>
                        <div class="thank-you"><span class="text">Thank you for subscribing!</span> <img src="images/check.svg"></div>
                        <div class="error-message"><span class="text">Oops, something went wrong!</span> <button class="retry">Try again</button></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-wrapper">
            <div class="lang-nav-wrapper">

                <nav class="footer-nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#" target="_blank">Privacy Policy</a></li>
                        <li><a href="#" target="_blank">Terms of Use</a></li>
                        <li><a href="#" target="_blank">Content Policy</a></li>
                        <li><a href="#" target="_blank">Code of Ethics</a></li>
                    </ul>
                </nav>
            </div>
        
        </div>
    </footer>

    
</body>

</html>